body {
  background: yellow;
  font-family: helvetica, sans-serif;
  font-size:14px;
  letter-spacing: 1px;
  line-height: 15px;
}

a{
  color: red;
}


h1 {
  color: red;
  font=family: 'Gloria Hellelujaj', cursive;
}

h2{
  color: pink;
}

h3{
  color: green;
}

  div {
  width: 300px;
  height: 300px ;
 padding: 15px;
 margin-left: 45px;
 margin-top: 50px
 border: 3px solid orange;
}

  .first-div {
    background: teal;
    font-size: 33px;
    color: #ffffff;
  background-image: url("../images/blaze.jpg");
  background-size: cover;
  }
/*cool class
.first-div: hover {
  background-image: url("../images/blaze.jpg");
}


.rounded-div{

  border-radius= 6;
  background: purple ;
  margin-top: 20px;
}


.leftnav{
  list-style: none;
  float: right;
}

.leftnav li {
padding: 10px;
background: #ffdc00;
border-bottom: 1px solid #ccc;
width:200px;
}

.leftnav li:hover {
  background: aqua;
  cursor: pointer;
}
